.Rproj.user
.Rhistory
*.RData
troubleshooting/*
.vscode
workspace.code-workspace
inst/tea_data/tea_pool_1.mzML
inst/tea_data/tea_pool_2.mzML
inst/tea_data/tea_pool_3.mzML
inst/tea_data/double_blank.mzML
inst/tea_data/px_blank.mzML
inst/tea_data/GCxGC_ex.mzML
inst/extdata/pesticides/*
